.ext-videacesky-wrapper {
    display: inline-block;
    margin-top: 1.2em;
}

.ext-videacesky-href {
    display: block;
    background: #057EF1;
    color: #fff;
    border-radius: 2px;
    padding: 10px;
    font-size: 1.4em;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.ext-videacesky-new-look {
    border-radius: 18px;
}

.ext-videacesky-href:hover, .ext-videacesky-href:focus {
    text-decoration: none;
}

.ext-videacesky-nope {
    background: #EEE;
    color: rgba(17, 17, 17, .6);
}
